{% extends 'base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="col">
            <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            {% if post.image %}
                <img src="{{ post.image.url }}" align="left" style="max-height:200px; max-width:20%" hspace="10" vspace="10">
            {% endif %}
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text|safe }}</p>
            <a href="{% url 'post_detail' pk=post.pk %}" class="counter">
                approved comments: {{ post.approved_comments.count }}<br>comments pending admin approval: {{ post.pending_comments }}
            </a>
        </div>
    {% endfor %}
{% endblock %}