{% extends "base.html" %}

{% block content %}
<h1>Projects</h1>
<div class="row">
{% for project in projects %}
    <div class="col-md-2" style="min-width: 250px; max-width: 250px">
        <div class="card mb-2">
            <div class="card-header">
                <h3 class="card-title">
                    <a href="{% url 'project_detail' project.pk %}">{{ project.title }}</a>
                </h3>
            </div>
            {% if project.image %}
                <a href="{% url 'project_detail' project.pk %}">
                    <img class="card-img-top" src="{{ project.image.url }}">
                </a>
            {% endif %}
            <div class="card-body">
                <p class="card-text">{{ project.description }}</p>
                <a href="{% url 'project_detail' project.pk %}" class="btn btn-secondary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}